@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}
h1 {
  font-weight: 400;
}
::selection{
  background-color: #101010;
  color: #f1f1f1;
}

/* WSP */

#wsp{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 2999;
}

/* HEADER */

#header {
  display: flex;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
  z-index: 1000;
  position: absolute;
  width: 100%;
  transition: all .5s ease;
}
.header-color {
  background-color: black;
}
#nav-logo {
  margin-left: 3%;
  margin-top: 10%;
}
.nav1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav-li {
  position: relative; /* Necesario para que el submenú se posicione correctamente */
  list-style-type: none;
  padding: 1%;
  font-size: medium;
}
.subnava {
  padding: 25px;
}
.subnav {
  display: none;
  position: absolute;
  left: 0; /* Alinea el borde izquierdo del submenú con el borde izquierdo de "Colecciones" */
  top: 100%; /* Posiciona el submenú justo debajo del contenedor padre */
  text-align: start;
  font-size: small;
  padding: 0.5%;
  width: 250px;
  background-color: rgb(34, 34, 34);
  z-index: 1001;
}
.subnav-li {
  padding: 3%;
  margin: 5px; /* Añade un pequeño margen */
}

.subnav-li:hover {
  background-color: rgb(53, 53, 53);
}
.blank-link {
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
}
.nav-link-white {
  color: #f1f1f1;
}
.nav-link-black {
  color: black;
}
.sticky {
  top: 0;
  width: 100%;
}
.header-black {
  background-color: black;
}

.header-white {
  background-color: #f1f1f1;
}
#hamburguer-icon-div {
  padding: 20px;
}

#mobile-header-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1999;
}
#mobile-header {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100%;
  width: 300px;
  background-color: white;
  z-index: 2000;
  transition: all 0.2s ease-in-out;
}
#mobile-nav {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
#mobile-nav hr {
  margin-right: 10%;
}
.mobile-nav-item {
  display: block;
  padding: 15px;
  font-size: 16px;
  list-style-type: none;
}
#mobile-subnav {
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}
#mobile-subnav-image {
  padding-left: 100px;
}
.mobile-subnav-item {
  display: block;
  padding: 10px;
  font-size: 16px;
  list-style-type: none;
  transition: all 0.2s ease-in-out;
}
#close-div {
  position: relative;
}
#close-mobile-header-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5%;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 0;
  background-color: #868686;
}

@media (max-width: 768px) {
  #hamburguer-icon-div {
    display: block;
  }
  .nav1 {
    display: none;
  }
}
@media (min-width: 768px) {
  #hamburguer-icon-div {
    display: none;
  }
  .nav1 {
    display: block;
  }
}

/* MAIN */

#main {
  margin-top: 100px;
}
#title {
  display: grid;
  margin: 10% 18% 1% 18%;
}
#title h1 {
  margin: 0;
}
#title h4 {
  text-align: end;
  align-self: end;
}
#galeria {
  display: grid;
}

.galeria-container {
  grid-column: auto;
  text-decoration: none;
}
.galeria-item {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}
.galeria-item h3 {
  display: hidden;
  color: transparent;
  font-size: 30px;
}
.galeria-item:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}
.galeria-item:hover h3 {
  display: block;
  color: white;
  transition: all 0.5s ease-in-out;
}
.galeria-item-sold,
.galeria-item-on-sale {
  position: absolute;
  font-size: 12px;
  letter-spacing: 0.15rem;
  padding: 2%;
  top: 10px;
  left: 10px;
  background-color: #101010;
  color: #f1f1f1;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
  #title {
    grid-template-columns: 1fr;
  }
  #title h1 {
    font-size: 40px;
  }
  #galeria {
    grid-template-columns: 1fr;
    margin: 0% 5% 5% 5%;
  }
  .galeria-item{
    height: 200px;
    margin: 5%;
  }
  .galeria-container{
    max-width: 600px;
  }
}
@media (min-width: 768px) {
  #title {
    grid-template-columns: 1fr 1fr;
  }
  #title h1 {
    font-size: 90px;
  }
  #galeria {
    grid-template-columns: repeat(2, 1fr);
    margin: 0% 15% 5% 15%;
    justify-items: center;
  }
  .galeria-item{
    height: 300px;
    margin: 3%;
  }
  .galeria-container{
    width: 600px;
  }
}

/* FOOTER */

#footer {
  background-color: #101010;
  text-align: center;
  padding-bottom: 3%;
  padding-top: 2%;
}

.menu-footer {
  margin-bottom: 3%;
}

.menu-footer ul {
  display: flex;
  justify-content: center;
  padding-inline-start: 0px;
  list-style-type: none;
}

.menu-footer li {
  margin: 0 10px; /* Ajusta el margen entre los elementos según sea necesario */
}

.menu-footer li a {
  font-size: 12px;
  color: #f1f1f1;
  text-decoration: none;
}

.rrss ul {
  padding-inline-start: 0px;
}

.rrss li {
  list-style-type: none;
  display: inline;
}

.rrss li a {
  text-decoration: none;
}

/*
  Font classes
  */

.cormorant-garamond-light {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-medium {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}

.cormorant-garamond-semibold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-garamond-bold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-light-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
}

.cormorant-garamond-regular-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
}

.cormorant-garamond-medium-italic {
  color: #b3aaa5;
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;
}

.cormorant-garamond-semibold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: italic;
}

.cormorant-garamond-bold-italic {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
